@import "../variables.scss";

.sign {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
  @include center_sort;
  flex-direction: column;
  gap: 30px;
}

.sign_title {
  @include center_sort;
  flex-direction: column;
  img {
    width: 15rem;
    height: 7rem;
  }
  span {
    font-size: 1.125rem;
  }
}
.sign_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  label {
    margin-top: 15px;
  }

  input {
    height: 35px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 5px;
  }

  p {
    margin: 0;
    font-size: 11px;
    color: tomato;
    padding-left: 5px;
  }

  .auto_logged {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 2px;

    .auto_logged_label {
      display: block;
      position: relative;
      padding-left: 25px;
      margin-bottom: 10px;

      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* 기본 체크박스 숨기기 */
    .auto_logged_label input[type="checkbox"] {
      display: none;
    }

    /* 선택되지 않은 체크박스 스타일 꾸미기 */
    .on {
      width: 15px;
      height: 15px;
      background: transparent;
      border-radius: 50%;
      border: 1px solid $main_color;
      position: absolute;
      top: 2px;
      left: 0;
    }

    /* 선택된 체크박스 스타일 꾸미기 */
    .auto_logged_label input[type="checkbox"]:checked + .on {
      background: $main_color;
    }
    .on:after {
      content: "";
      position: absolute;
      display: none;
    }
    .auto_logged_label input[type="checkbox"]:checked + .on:after {
      display: block;
    }
    .on:after {
      width: 5px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: 4px;
      top: 1px;
    }
  }
}

.sign_Btn {
  margin-top: 50px;
  background-color: $main_color;
  height: 40px;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.sign_Etc_Btn {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  button {
    background-color: transparent;
    border: 0;
    margin-top: 5px;
    color: grey;
    font-weight: 500;
    cursor: pointer;
  }
  span {
    color: grey;
  }
}

.signupComplete {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 12rem;
    height: 6rem;
  }
  span {
    color: grey;
  }
  button {
    width: 22rem;
    height: 2.7rem;
    border: 0;
    color: white;
    background-color: $main_color;
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 5px;
  }
}

.idFind {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;

    span {
      font-size: 18px;
      font-weight: bold;
    }

    input {
      width: 90%;
      height: 40px;
      border: 1px solid #dedede;
      border-radius: 5px;
      padding-left: 10px;
      margin-top: 5px;
    }
    button {
      width: 100%;
      height: 2.7rem;
      border: 0;
      color: white;
      background-color: #2b3089;
      font-size: 18px;
      font-weight: 700;
      margin-top: 15px;
      cursor: pointer;
      border-radius: 5px;
    }
}
// 이메일 인증 확인 중 모달
:where(.css-dev-only-do-not-override-acm2ia).ant-modal-root .ant-modal-mask {
  background-color: black !important;
  opacity: 70% !important;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-modal-root .ant-modal-wrap {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  inset-inline-end: none !important;
  bottom: none !important;
  inset-inline-start: none !important;
  overflow: none !important;
  outline: none !important;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-modal .ant-modal-title,
:where(.css-dev-only-do-not-override-acm2ia).ant-modal .ant-modal-body {
  text-align: center;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-modal .ant-modal-title {
  font-size: 24px !important;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-spin{ 
  color: $main_color !important;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-spin .ant-spin-dot {
  font-size: 52px !important;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-modal .ant-modal-title, :where(.css-dev-only-do-not-override-acm2ia).ant-modal .ant-modal-body  {
  margin: 20px 0 !important;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-modal .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger)  {
  display: block !important;
  margin: auto !important;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-btn-primary {
  background-color: $main_color !important;
}