.header {
  height: 80px;
  // background-color: #ffffff;
  z-index: 1;
  display: flex;
  @include mobile {
    justify-content: center;
  }
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10rem;
  box-shadow: 0 2px 2px -2px #dedede;


  .heaeder_logo {
    width: 7rem;
    height: 3.5rem;
    cursor: pointer;
  }

  .heaeder_logo_small{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }

  .header_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
    .header_search {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      > button {
        width: 40px;
        height: 100%;
        position: absolute;
        right: 7px;
        background-color: transparent;
        border: 0;
        padding: 0;
      }

      > img {
        width: 25px;
        height: 25px;
      }

      >input {
        min-width: 25rem;
        height: 40px;
        padding-left: 15px;
        border: 1px solid #dedede;
        border-radius: 20px;
      }
    }
  }
  .header_signBtn {
    cursor: pointer;
    display: flex;
    align-items: center;

    .header_user {
      background-color: transparent;
      border: none;
    }
    .header_write {
      background-color: $main_color;
      border: 0;
      border-radius: 20px;
      color: white;
      font-size: $fontSize14;
      font-weight: 700;
      padding: 8px 15px;
      margin-left: 10px;
      cursor: pointer;
    }
    .header_signin {
      color: $main_color;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      font-size: $fontSize14;
      font-weight: 700;
    }
  }
}

.ant-btn-default:not(:disabled):hover {
  color: black !important;
  border-color: transparent;
}

[ant-click-animating-without-extra-node='true'], [ant-click-animating='true'] {
  --antd-wave-shadow-color:transparent
  --scroll-bar: 0;
  position: relative;
}

.ant-btn-default {
  background-color: #ffffff;
  border-color: transparent;
  box-shadow: none;
}

.ant-dropdown-menu-title-content{
  text-align: center;
}