.detailPost{
    display: grid;
    grid-template-columns: 2fr 8fr;

    .detailPostBox {
        margin: 0px 20px;

        .detailPostBox_header{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #eee;
    
            h2 {
                font-size: 32px;
            }
        }
    
        .detailPostBox_header_info {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: #94969b;
        }

        p {
            display: flex;
            align-items: center;
            gap: 5px;
        }

       .detailPostBox_contents {
        text-align: left;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: keep-all;

            p {
                font-size: 1.2rem;
            }

            img {
                position: relative !important;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
       } 

       .detailPostBox_footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                font-size: 1.3rem;
            }
            .detailPostBox_footer_info {
                display: flex;
                gap: 30px;

            }
            .detailPostBox_share{
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
       }
    }
    
}