@import "../variables.scss";

.post {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  @include center_sort;
  flex-direction: column;
  gap: 20px;
  margin-top: 45px;

  input {
    width: 98%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    width: 98%;
    height: 250px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 10px 0 0 10px;
    resize: none;
    font-size: 14px;
  }
  .postFile {
    
    label {
      display: inline-block;
      width: 100px;
      height: 45px;
      background-color: $main_color;
      color: #fff;
      cursor: pointer;
      line-height: 45px;
      border-radius: 5px;
      text-align: center;
    }

    input[type='file'] {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      clip: rect(0,0,0,0);
      overflow: hidden;
      padding: 0;
    }
  }
 
  .postBtn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;

    button {
      background-color: $main_color;
      width: 70px;
      height: 40px;
      color: white;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
    }

    .cancle {
      color: $main_color;
      border: 2px solid $main_color;
      background-color: transparent;
    }
  }  
}

:where(.css-dev-only-do-not-override-acm2ia).ant-upload-wrapper {
  width: 100%;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: $main_color !important;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-upload-wrapper .ant-upload-drag p.ant-upload-drag-icon .anticon {
  color: $main_color;
  font-size: 28px !important;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-upload-wrapper .ant-upload-drag .ant-upload {
  padding: 10px 0 !important;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-upload-wrapper .ant-upload-list {
  height: 100px;
  overflow-y: scroll;
  margin-top: 10px;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-upload-wrapper .ant-upload-list::-webkit-scrollbar {
  width: 10px;  /* 스크롤바의 너비 */
}

:where(.css-dev-only-do-not-override-acm2ia).ant-upload-wrapper .ant-upload-list::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: $main_color; /* 스크롤바의 색상 */
  border-radius: 10px;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-upload-wrapper .ant-upload-list::-webkit-scrollbar-track {
  background: #ececec; 
}

.ant-upload-drag-icon {
  margin: 0 !important;
}

.ant-upload-hint {
  margin: 0 !important;
}

