// Color
$main_color: #2b3089;
$light_gray: #dedede;
$medium_gray: #424242;

// font Size
$fontSize11: 0.68rem;
$fontSize14: 0.875rem;
$fontSize16: 1rem;
$fontSize18: 1.125rem;
$fontSize20: 1.25rem;
$fontSize28: 1.75rem;

// Break Point
$mobile: 780px;
$tablet-min: 781px;
$tablet-max: 1023px;
$desktop: 1024px;
