@import "./user/sign.scss";
@import "./board/setPost.scss";
@import "./board/getPost.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./board/details.scss";
@import "./board/comments.scss";
@import "./board/rank.scss";
@import "./user/myinfo.scss";

html,
body {
  display: flex;
  width: 100% !important;
  height: 95% !important;
  padding: 15px 0;
  margin: auto;
}

body * {
  font-family: "Noto Sans KR", sans-serif;
}

.body_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
}

#__next {
  @include desktop {
    width: 80%;
  }
  height: 100%;
  margin: auto;
}

input,
textarea {
  background-color: transparent;
}

.themeToggle {
  border-radius: 50%;
  background-color: transparent;
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 5%;
  right: 100px;
  padding: 10px;
  cursor: pointer;

  .themeToggleIcon {
    font-size: $fontSize20;
    font-weight: bold;
  }
}
